*.py[co]
*.log
*.swp
*~
\#*\#

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installation specific confs
etc/qonos/*.conf

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
*.sqlite

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#PyCharm
.idea
.idea/

.venv
.venv/
versioninfo
