[DEFAULT]
debug = True
# Log file location
log_file = /var/log/qonos/qonos-worker.log

notification_driver = qonos.openstack.common.notifier.log_notifier

[worker]
# Indicates the worker should start as a daemon
daemonized = True
# The type of action that this worker handles
action_type = 'snapshot'
# The class of the processor wrapped by this worker
processor_class = 'qonos.worker.snapshot.snapshot.SnapshotProcessor'
api_port = 7667

# Processor specific settings
[snapshot_worker]
auth_url='http://127.0.0.1:5000/v2.0/'
nova_admin_user='demo'
nova_admin_password='startrek'

