[DEFAULT]
debug = True
db_auto_create = True
db_api = 'qonos.db.sqlalchemy.api'

notification_driver = qonos.openstack.common.notifier.log_notifier

# Sqlalchemy database connection string
# If none defaults to sqlite
# sql_connection = 'mysql://qonos:openstack@localhost/qonos'
sql_connection = sqlite:///qonos.sqlite

# Notification and rabbit configs
# notification_driver=qonos.openstack.common.notifier.rpc_notifier
# notification_topics=monitor_qonos
# rabbit_host=localhost
# rabbit_virtual_host=qonos
# rabbit_durable_queues=true
# rabbit_userid=qonos
# rabbit_password=openstack
# rabbit_port=

# Log file location
log_file = /var/log/qonos/qonos-api.log
default_log_levels = sqlalchemy=WARN,sqlalchemy.engine.base.Engine=WARN,eventlet.wsgi.server=WARN

[api]
# Indicates the API should start as a daemon
daemonized = False
port = 7667

# Any actions that need overridden values for retry
# and / or timeout should be listed here and a section
# provided below named [action_<action name>]
action_overrides = snapshot

# Default settings for actions if not otherwise specified below
[action_default]
# The total amount of time that a job will be worked on (including
# retries) before it is considered failed completely.
timeout_seconds = 3600

# Settings for the 'snapshot' action
[action_snapshot]
timeout_seconds = 14400

[paste_deploy]
# Name of the paste configuration file that defines the available pipelines
#config_file = qonos-api-paste.ini
