[DEFAULT]
debug = True
db_auto_create = True
db_api = 'qonos.db.sqlalchemy.api'
# Sqlalchemy database connection string
# If none defaults to sqllite
sql_connection = 'mysql://qonos:openstack@localhost/qonos'
# Log file location
log_file = /var/log/qonos/qonos-api.log

[api]
# Indicates the API should start as a daemon
daemonized = True

[paste_deploy]
# Name of the paste configuration file that defines the available pipelines
#config_file = qonos-api-paste.ini
