[DEFAULT]
debug = True
# Log file location
log_file = /var/log/qonos/qonos-scheduler.log

notification_driver = qonos.openstack.common.notifier.log_notifier

[scheduler]
# Indicates the scheduler should start as a daemon
daemonized = True
api_port = 7667

